html, body, .container, .columns {
  height: 100%; }

body {
  background-image: url("http://s3.amazonaws.com/fccassets/images/background.jpg"); }

.row {
  height: 80%;
  position: relative; }

.columns {
  float: left; }

@media (max-width: 800px) {
  .game {
    width: 80%; } }

@media (min-width: 800px) {
  .game {
    width: 70%; } }

@media (min-width: 900px) {
  .game {
    width: 60%; } }

@media (min-width: 1200px) {
  .game {
    width: 50%; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
  .game {
    width: 90%; } }

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.outer-circle {
  background-color: #333;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  drop-shadow: #222;
  position: relative;
  box-shadow: 0px 0px 3px 3px rgba(2, 2, 2, 0.5); }

.inner-circle {
  background-color: #333;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  drop-shadow: #222;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 25%;
  margin-left: 25%;
  z-index: 10; }

.control-cirle {
  background-color: white;
  width: 90%;
  padding-bottom: 90%;
  border-radius: 50%;
  drop-shadow: #222;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 5%;
  margin-left: 5%; }

.button-1 {
  background-color: #00a74a;
  width: 45%;
  padding-bottom: 45%;
  border-radius: 100% 0 0 0;
  position: absolute;
  margin-top: 5%;
  margin-left: 5%; }

.button-2 {
  background-color: #9f0f17;
  width: 45%;
  padding-bottom: 45%;
  border-radius: 100% 0 0 0;
  position: absolute;
  margin-top: 5%;
  margin-left: 50%;
  transform: rotate(90deg); }

.button-3 {
  background-color: #cca707;
  width: 45%;
  padding-bottom: 45%;
  border-radius: 100% 0 0 0;
  position: absolute;
  margin-top: 50%;
  margin-left: 5%;
  transform: rotate(270deg); }

.button-4 {
  background-color: #094a8f;
  width: 45%;
  padding-bottom: 45%;
  border-radius: 100% 0 0 0;
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  transform: rotate(180deg); }

.button-1-on {
  background-color: #13ff7c; }

.button-2-on {
  background-color: #ff4c4c; }

.button-3-on {
  background-color: #fed93f; }

.button-4-on {
  background-color: #1c8cff; }

.cross-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 100%;
  background-color: #333;
  z-index: 5; }

.cross-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 5%;
  background-color: #333;
  z-index: 5; }

.button-enabled {
  cursor: pointer; }

.controls {
  position: absolute;
  width: 100%;
  height: 100%; }

.title {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  color: #333;
  height: 8vw;
  padding-top: 5vw;
  position: relative; }
  @media (max-width: 800px) {
    .title {
      padding-top: 5vw;
      height: 10vw; } }
  @media (min-width: 800px) {
    .title {
      padding-top: 5vw;
      height: 9vw; } }
  @media (min-width: 900px) {
    .title {
      padding-top: 4vw;
      height: 7vw; } }
  @media (min-width: 1200px) {
    .title {
      padding-top: 3vw;
      height: 6vw; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
    .title {
      padding-top: 5vw;
      height: 10vw; } }

.simon {
  font-size: 7vw;
  margin-left: 2vw;
  margin-right: 2vw; }
  @media (max-width: 800px) {
    .simon {
      font-size: 8vw; } }
  @media (min-width: 800px) {
    .simon {
      font-size: 7vw; } }
  @media (min-width: 900px) {
    .simon {
      font-size: 5vw; } }
  @media (min-width: 1200px) {
    .simon {
      font-size: 5vw; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
    .simon {
      font-size: 8vw; } }

.reg {
  vertical-align: super;
  font-size: 30%; }

.buttons {
  width: 80%;
  height: 9vw;
  margin-left: 10%;
  margin-right: 10%; }
  @media (max-width: 800px) {
    .buttons {
      height: 10vw; } }
  @media (min-width: 800px) {
    .buttons {
      height: 8vw; } }
  @media (min-width: 900px) {
    .buttons {
      height: 7vw; } }
  @media (min-width: 1200px) {
    .buttons {
      height: 6vw; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
    .buttons {
      height: 10vw; } }

.buttons-text {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

.buttons-inner {
  height: 100%;
  width: 33%; }

.button-title {
  font-family: 'Oswald', sans-serif;
  text-align: center; }
  @media (max-width: 800px) {
    .button-title {
      font-size: 1.8vw; } }
  @media (min-width: 800px) {
    .button-title {
      font-size: 1.5vw; } }
  @media (min-width: 900px) {
    .button-title {
      font-size: 1.5vw; } }
  @media (min-width: 1200px) {
    .button-title {
      font-size: 1.2vw; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
    .button-title {
      font-size: 1.8vw; } }

.count {
  float: left;
  width: 40%; }

.start {
  float: left;
  width: 30%;
  position: relative; }

.strict {
  float: left;
  width: 30%;
  position: relative; }

.count-screen {
  background-color: #32050C;
  margin-left: 5%;
  margin-top: 10%;
  height: 70%;
  width: 90%;
  border-radius: 15%/30%; }

.start-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7vw;
  height: 7vw;
  cursor: pointer; }

.start-button-outer {
  background-color: #333;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 0;
  margin-left: 25%;
  margin-top: 25%;
  box-shadow: 0px 0px 2px 2px rgba(2, 2, 2, 0.4); }

.start-button-inner {
  background-color: red;
  width: 35%;
  padding-bottom: 35%;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 0;
  margin-left: 32.5%;
  margin-top: 32.5%; }

.strict-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7vw;
  height: 7vw;
  cursor: pointer; }

.strict-button-outer {
  background-color: #333;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 25%;
  margin-top: 25%;
  box-shadow: 0px 0px 2px 2px rgba(2, 2, 2, 0.4); }

.strict-button-inner {
  background-color: yellow;
  width: 35%;
  padding-bottom: 35%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 32.5%;
  margin-top: 32.5%; }

.strict-led {
  background-color: #333;
  width: 15%;
  padding-bottom: 15%;
  border-radius: 50%;
  margin-left: 42.5%;
  margin-top: 3%; }

.strict-led-on {
  background-color: #DC0D29; }

.button-clicked-outer {
  top: 0;
  box-shadow: none; }

.onOff-outer {
  width: 100%;
  height: 10%;
  margin-top: 10%;
  position: relative; }

.onOff-inner {
  height: 100%;
  position: relative; }

.offText {
  float: left;
  height: 100%;
  width: 40%; }

.onText {
  float: right;
  height: 100%;
  width: 40%; }

.switch {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #333;
  cursor: pointer; }

.off-button-title {
  height: 100%;
  line-height: 250%;
  text-align: right;
  margin-right: 5%; }

.on-button-title {
  height: 100%;
  line-height: 250%;
  text-align: left;
  margin-left: 5%; }

.slider {
  width: 45%;
  height: 80%;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  background-color: #3193DE;
  border-radius: 15%; }

.slider-on {
  float: right; }

.count-screen-inner {
  position: relative;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%; }

.digit1 {
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
  margin-left: 10%; }

@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
  .digit1 {
    margin-left: 0; } }

.digit1-inner, .digit2-inner {
  width: 100%;
  height: 100%;
  font-family: 'VT323';
  font-size: 6vw;
  color: #DC0D29;
  display: flex;
  align-items: center;
  justify-content: center; }

.digit2 {
  width: 40%;
  height: 100%;
  float: right;
  position: relative;
  margin-right: 10%; }
