//Simon Game SCSS

//Variables
$mobile: 800px;
$tablet: 800px;
$desktop: 900px;
$desktop-lg: 1200px;

//Mixins

@mixin circle ($color, $width){
	background-color: $color;
	width: $width;
	padding-bottom: $width;
	border-radius: 50%;
}

@mixin buttonShape ($color, $size, $border){
	background-color: $color;
	width: $size;
	padding-bottom: $size;
	border-radius: $border
}

@mixin center (){
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

//General Styles

*{
  outline: 1px dashed red;
}

html, body, .container, .columns{
	height: 100%;
}

body {
	background-image: url("../images/background.jpg");
}

//Setup columns and rows

.row{
	height: 80%;
	position: relative;
}

.columns{
	float: left;
}

.game{
	@media (max-width: $mobile) {
		width: 80%;	
	}
	@media (min-width: $tablet) {
		width: 70%;	
	}
	@media (min-width: $desktop) {
		width: 60%;	
	}
	@media (min-width: $desktop-lg) {
		width: 50%;	
	}
}

//Draw our circles

.game{
	@include center();
}

.outer-circle{
	@include circle(#333,100%);
	drop-shadow: #222;
	position: relative;
}

.inner-circle{
	@include circle(#333,50%);
	drop-shadow: #222;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 25%;
	margin-left: 25%;
	z-index: 10;
}

.control-cirle{
	@include circle(white,90%);
	drop-shadow: #222;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 5%;
	margin-left: 5%;
}

.button-green{
	@include buttonShape(green,45%,100% 0 0 0);
	position: absolute;
	margin-top: 5%;
	margin-left: 5%;
}

.button-red{
	@include buttonShape(red,45%,100% 0 0 0);
	position: absolute;
	margin-top: 5%;
	margin-left: 50%;
	transform: rotate(90deg);
}

.button-yellow{
	@include buttonShape(yellow,45%,100% 0 0 0);
	position: absolute;
	margin-top: 50%;
	margin-left: 5%;
	transform: rotate(270deg);
}

.button-blue{
	@include buttonShape(blue,45%,100% 0 0 0);
	position: absolute;
	margin-top: 50%;
	margin-left: 50%;
	transform: rotate(180deg);
}

.cross-vertical{
	@include center();
	width: 5%;
	height: 100%;
	background-color: #333;
	z-index: 5;
}

.cross-horizontal{
	@include center();
	width: 100%;
	height: 5%;
	background-color: #333;
	z-index: 5;
}



